fastapi
uvicorn
jinja2
pydantic
starlette
python-multipart
bcrypt
requests
beautifulsoup4
fpdf
langchain
langchain-openai
langchain-community
langchain-text-splitters
python-dotenv
itsdangerous
langchain-chroma
chromadb
pypdf
#pysqlite3-binary # Solo necesaria en Azure